.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: lightsalmon;
    position: relative;
    top: 70px;
    scroll-snap-type: ;

    > *{
      width: 100vw;
      height: calc(100vh -70px);
    }
  }
}
