@import "../../global.scss";

.about {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  font-family: "Arial Narrow", Arial, sans-serif;
  @include mobile {
    font-size: 20px;
  }
  span {
    margin-bottom: 40px;
  }

  .containerd {
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 18px;

    @include mobile {
      flex-direction: column;
      font-size: 20px;
    }

    .left {
      border: solid black;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .present {
        display: flex;
        flex-direction: column;
        @include mobile {
          .tohide {
            display: none;
          }
          ol {
            display: none;
          }
        }
      }
    }

    .right {
      border: solid black;
      border-radius: 30px;
      display: flex;
      flex-direction: column;

      @include mobile {
        display: none;
      }

      .inside {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .slider {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
}
